:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.loading {
  margin: auto 0;
}

ion-img {
  display: block;
  margin: 0 auto 20px;
  width: 100px;
}

ion-progress-bar {
  margin: auto;
  max-width: 50%;
}
